# requirements.txt for pip install

# User's minimal environment for FDS

numpy<2
matplotlib
pandas
scipy
seaborn
pygments
ipython
cantera
pyfdstools

# Local utility packages (imports fdsplotlib)
-e ../Utilities/Python

# Bibliography tools
git+https://github.com/dlesbre/bibtex-autocomplete.git@v1.4.3