# mac file
.DS_Store
._*

# compiler output files
*.exe
*.o
*.mod
*.obj
*.pdb
*.exp
*.lib
*.i90

# fds executables
fds_intel_*

# latex output files
*.aux
*.bak
*.bbl
*.blg
*.brf
*.err
*.lof
*.log
*.out
*.pdfsync
*.toc

# smokeview vs build directory
SMV/win32_local

# smokeview upload directory 
SMV/for_bundle/uploads

