/*
-------------------------------------------
File: 'Blueball Classic Colors 3.5' width_default.css Style Sheet
Created: 16, December, 2005
Modified: 31, May, 2006
-------------------------------------------
*/

#container {
	width: 740px;
	background: url(../../images/RWTP1_bg740_middle.png) repeat-y;
}

#container #top{
	position: relative;
	background: url(../../images/RWTP1_bg740_top14.png) top no-repeat;
	width:  740px;
	z-index: 3;
}


#container #bottom{
	position: relative;
	background: url(../../images/RWTP1_bg740_bottom14.png) bottom no-repeat;
	width: 740px;
	z-index: 4;
}

