/*
-------------------------------------------
File: 'Classic Colors' header_right.css Style Sheet
Created: 16 December, 2005
-------------------------------------------
*/


#pageHeader h1 { 
	text-align: right;
	padding-right: 25px;
	padding-left: 0px;
}

#pageHeader h2 {
	text-align: right;
	padding-right: 25px;
	padding-left: 0px;
}