/*
-------------------------------------------
File: 'Classic Colors' header_center.css Style Sheet
Created: 16 December, 2005
-------------------------------------------
*/

#pageHeader h1 { 
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}

#pageHeader h2 {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}