/*
-------------------------------------------
File: 'Classic Colors' header_left.css Style Sheet
Created: 16 December, 2005
-------------------------------------------
*/

#pageHeader h1 { 
	text-align: left;
	padding-left: 25px;
}

#pageHeader h2 {
	text-align: left;
	padding-left: 25px;
}