/*
-------------------------------------------
File: 'Blueball Classic Colors 36' colourtag.css Style Sheet
Created: 1, July, 2007
Last Modified: 6, July, 2007
Author: Charlie Lockhart, Blueball Design
www.blueballdesign.com
Email: themes@blueballdesign.com
Copyright 2007 Charlie Lockhart/Blueball Design USA
All Rights Reserved
-------------------------------------------
*/


body,
#sidebarContainer #sidebar,
.blog-entry-date,
.filesharing-item a,
.thumbnail-caption,
.movie-thumbnail-caption,
.blog-entry-comments-inline {
	color: #555555;
}

body {
	background: #A6A6A6;
}

blockquote, .standout {
	border-left-color: #A6A6A6;
	color: #555555; 
}

#pageHeader {
	background: #FD923D;
}

#pageHeader h1 {
	color: #FFFFFF;
}

#pageHeader h2 {
	color: #000000;
}

#breadcrumbcontainer {
	border-top-color: #A6A6A6;
}

a:link, a:visited {
	color: #334D5B;
}

a:hover, a:active,
.filesharing-item a:hover {
	color: #FD933E;
}

h1 {
	color:  #000000;
}

h2 {
	color:  #573001;
}

h3 {
	color:  #7C4000;
}

h4 {
	color:  #375362;
}

h5 {
	color:  #375362;
}

#sidebarContainer #sidebar .sideHeader {
	color:  #B9523A;
}

#navcontainer a,
#navcontainer ul ul a,
#navcontainer ul ul ul a,
#navcontainer ul ul ul ul a {
	color:  #777777;
}

#navcontainer a:hover,
#navcontainer ul ul a:hover,
#navcontainer ul ul ul a:hover,
#navcontainer ul ul ul ul a:hover {
	color:  #375362;
}

#navcontainer #current,
#navcontainer ul ul #current,
#navcontainer ul ul ul #current,
#navcontainer ul ul ul ul #current {
	color: #000000;
}

#navcontainer .currentAncestor,
#navcontainer ul ul .currentAncestor,
#navcontainer ul ul ul .currentAncestor,
#navcontainer ul ul ul ul .currentAncestor {
	color: #375362;
}

.blog-entry-title {
	color: #375362;
}

.blog-entry-category {
	color: #375362;
}

.blog-entry-comments {
	color: #375362;
}

.blog-archive-month {
	color: #375362;
}

.album-title {
	color: #375362;
}

.photo-navigation {
	background-color: #6C96AC;
}

.photo-navigation a:link, .photo-navigation a:visited {
	color: #FFFFFF;
}

.photo-navigation a:hover {
	color: #FFFFFF;
}

.photo-title {
	color: #FFFFFF;
}

.photo-caption {
	color: #FFFFFF;
}

.movie-page-title {
	color: #375362;
}

.movie-title {
	color: #FFFFFF;
}

.movie-background {
	color: #6C96AC;
}

.movie-description {
	color: #FFFFFF;
}

.required-text {
	color: #375362;
}


