/*
-------------------------------------------
File: 'Blueball Classic Colors 36' ie7.css Style Sheet
Created: 1, July, 2007
Last Modified: 1, July, 2007
Author: Charlie Lockhart, Blueball Design
www.blueballdesign.com
Email: themes@blueballdesign.com
Copyright 2007 Charlie Lockhart/Blueball Design USA
All Rights Reserved
-------------------------------------------
*/

 .clearfix { 
 	display: inline-block; 
 }