/*
-------------------------------------------
File: 'Blueball Classic Colors 36' print.css Style Sheet
Created: 16, December, 2005
Last Modified: 6, July, 2007
Author: Charlie Lockhart, Blueball Design
www.blueballdesign.com
Email: themes@blueballdesign.com
Copyright 2006 Charlie Lockhart/Blueball Design USA
All Rights Reserved
-------------------------------------------
*/


/* @group GENERAL STYLES */



body {
	background-color: transparent;
	text-align: left;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	line-height: 17px;
	font-weight: normal;
	color: #000000;
	margin: 0px 5% 0px 5%;
	padding: 0;
}


p {
}


a:link, a:visited{
	text-decoration: underline;
	color:  #000000;
}


a:hover, a:active{
	text-decoration: none;
	color:  #000000;
}


b, strong {
	font-weight: bold;
}

.image-left{
	float: left;
	margin:  0px;
	padding: 3px 6px 3px 0px;
}

.image-right{
	float: right;
	margin:  0px;
	padding: 3px 0px 3px 6px;
}

img {
}

a img {
	border: 0px;
}

.clear {
	clear: both;
}

/* @end */


/* @group GLOBAL CLASSES */

.imageStyle {
	padding: 3px 6px 3px 6px;
	margin: 0px;
}

blockquote, .standout {
	font-weight: bold;
	font-style: normal;
	text-align: left;
	font-size: 12px;
	line-height: 16px;
	color: #000000;
	padding-left: 10px;
	border-left:  5px solid #6c96ac;
}


h1 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.1em;
	color: #000000;
	text-align: left;
	font-weight:  bold;
	letter-spacing: -1px;
}

h2 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.1em;
	color: #000000;
	text-align: left;
	font-weight:  bold;
	letter-spacing: -1px;
}

h3 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.1em;
	color: #000000;
	text-align: left;
	font-weight:  bold;
	letter-spacing: -1px;
}


h4 {
	font-size: 14px;
	line-height: 1.1em;
	color: #000000;
	text-align: left;
	font-weight:  bold;
}


h5 {
	font-size: 12px;
	line-height: 1.1em;
	color: #000000;
	text-align: left;
	font-weight:  bold;
}


/* @end */

/* @group CONTAINER */


#container {
	width: 100%;
	height:  auto;
	background: transparent;
	margin: 0 auto;
	padding: 0;
}

#container #top {
	display: none;
}

#container #bottom{
	display: none;
}


/* @end */

/* @group PAGEHEADER */


#pageHeader {
	display: none;
}

#pageHeader h1 { 
	margin: 0px;
	padding-top: 15px;
	padding-bottom: 8px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.3em;
	color: #000000;
	text-align: left;
	font-weight: bold;
	text-shadow: none;
}

#pageHeader h2 {
	margin: 0px; 
	margin-bottom: 12px;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	font-family: Arial, Verdana, sans-serif;
	letter-spacing: .1px;
}

#pageHeader #logo{
	display:  none;
}

#breadcrumbcontainer {
	display:  none;
}

#breadcrumbcontainer ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	padding-top: 6px;
	padding-left: 8px;
	display:  inline;
}

#breadcrumbcontainer li { 
	margin: 0 0 0px 0;
	display: inline;
}

#breadcrumbcontainer a {
	text-decoration: none;
	display: inline;
	color:  #666666;
}

#breadcrumbcontainer a:hover {
	text-decoration: underline;
	display: inline;
	color:  #666666;
}

/* @end */

/* @group CONTENT LAYOUT */


#contentwrapper {
	position: relative;
	width: 100%;
	margin: 0px auto;
	margin-top: 0px;
	margin-bottom: 20px;
	background: transparent;
	padding:  0px;
}

#sidebarContainer {
	display: none;
	visibility: collapse;
}

html>body #sidebarContainer {
}

#sidebarContainer #sidebar .sideHeader {
	font-size: 13px;
	line-height: 1.1em;
	color: #000000;
	text-align: center;
	font-weight:  bold;
	margin: 4px 0px 5px 0px;
	padding: 0px 10px 0px 10px;
	background: none;
}	

#sidebarContainer #sidebar {
	margin-top: 0px;
	padding: 10px 8px 10px 8px;
	font-size: 12px;
	line-height: 15px;
	color: #000000;
	background-color: #000000;
	border-top: 1px dashed #aeaeae;
	border-bottom: 1px dashed #aeaeae;
	background-color: #eeeeee;
	text-align: left;
}

#sidebarContainer #sidebar ul {
}

#sidebarContainer #sidebar li {
}

#sidebarContainer #sidebar p {
}


#contentContainer {
	position: relative;
	width: 100%;
	margin: 0;
	background: transparent;
	text-align: left;
	padding: 0px 24px 18px 24px;
	text-align:  left;
	font-size: 13px;
	line-height: 19px;
}

#contentContainer ul {
}

#contentContainer li {
}

#footer {
	position: relative;
	width: 100%;
	margin: 0px auto;
	margin-top: 5px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	color:  #000000;
}

#footer p {
}

#footer a:link, #footer a:visited {
}

#footer a:hover, #footer a:active {
}
	
/* @end */

/* @group TOOLBAR */


.clearfix:after{
content: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;
}

/* Toolbar Styles */

#navcontainer {
	line-height: normal;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
}

#navcontainer #current {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	font-size: 12px;
}

#navcontainer #current:hover {
}

#navcontainer .currentAncestor {
	color: #000000;
	text-decoration: underline;
}


/* Parent - Level 0 */


#navcontainer ul
{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#navcontainer li { 
	margin: 0px;
	padding: 0px;
	width: 200px;
	margin-bottom: 1px;
}

#navcontainer a{
	display: block;
	height:  24px;
	color: #777777;
	text-decoration: none;
	text-indent: 35px;
	background: #000000 url(../images/navbutton200_mainbg.png) no-repeat top left;
	padding: 5px 0px 0px 0px;
}

#navcontainer a:hover {
	color: #000000;
	text-decoration: none;
}



/* Child - Level 1 */



#navcontainer ul ul li { 
	margin: 0px;
}

#navcontainer ul ul a
{
	display: block;
	height: 16px;
	padding: 0px 0px 3px 0px;
	color: #777777;
	text-decoration: none;
	text-indent: 50px;
	background: url(../images/menuarrow45.png) left top no-repeat;
}

#navcontainer ul ul a:hover{
	text-decoration: none;
	color: #000000;
}

#navcontainer ul ul #current{
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	height: 16px;
}

#navcontainer ul ul .currentAncestor {

}



/* Child - Level 2 */



#navcontainer ul ul ul li { margin: 0px;}

#navcontainer ul ul ul a
{
	display: block;
	height: 16px;
	padding: 0px 0px 3px 0px;
	color: #777777;
	text-decoration: none;
	text-indent: 66px;
	background: url(../images/menuarrow61.png) left top no-repeat;
}

#navcontainer ul ul ul a:hover{
	text-decoration: none;
	color: #000000;
}

#navcontainer ul ul #current{
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	height: 16px;
	
}

#navcontainer ul ul .currentAncestor {
}


/* Child - Level 3 */



#navcontainer ul ul ul ul li { margin: 0px;}

#navcontainer ul ul ul ul a
{
	display: block;
	height: 16px;
	padding: 0px 0px 3px 0px;
	color: #777777;
	text-decoration: none;
	text-indent: 82px;
	background: url(../images/menuarrow77.png) left top no-repeat;
}

#navcontainer ul ul ul ul a:hover{
	text-decoration: none;
	color: #000000;
}

#navcontainer ul ul ul #current{
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	height: 16px;
	
}

#navcontainer ul ul ul .currentAncestor {
}

	
/* @end */



/* @group BLOG */



.blog-entry {
	margin: 10px 0px 4px 0px;
	border-bottom: 1px dashed #aeaeae;
}

.blog-entry-title {
	font-size: 15px;
	line-height: 18px;
	color: #000000;
	text-align: left;
	font-weight: bold;
	margin-bottom: 5px;
}

.blog-entry img {
	padding: 3px;
	border: 0px;
}

.blog-entry-date {
	font-size: 12px;
	text-indent: 16px;
	color: #000000;
	margin-bottom: 5px;
	padding: 2px;
	background: url(../images/menuarrow.png) left no-repeat;
}

.blog-read-more {
	font-size: 12px;
	margin-top: 6px;
	padding: 0px;
	font-style: normal;
}

.blog-read-more a {
	font-size: 12px;
}

.blog-read-more a:hover {
	font-size: 12px;
}

.blog-entry-summary {
	margin-bottom: 10px;	
}


.blog-entry-category {
	color: #000000;
	font-size: 12px;
	margin-bottom: 5px;
	padding: 2px;
	background: #eeeeee;
}

.blog-category-link-enabled {
}

.blog-category-link-disabled {
}

.blog-entry-category a:link, .blog-entry-category a:visited {
}

.blog-entry-body {
	margin-bottom:  12px;
}

.blog-entry-comments {
	font-size: 10px;
	text-align:  left;
	color: #000000;
	margin-top: 7px;
}

.blog-entry-comments a {
}

.blog-entry-permalink {
}

.blog-entry-permalink a:link, .blog-entry-permalink a:visited {
}




/* @end */

/* @group BLOG ARCHIVE PAGE */

.blog-archive-background {
}

.blog-archive-headings-wrapper {
}

.blog-archive-entries-wrapper {
}

.blog-archive-entries-wrapper .blog-entry {
}

.blog-archive-month {
	font-size: 20px;
	line-height: 1.3em;
	color: #000000;
	text-align: left;
	font-weight:  bold;
	margin-top: 12px;
	padding-bottom: 6px;
	margin-bottom: 8px;
	border-bottom: 1px dashed #aeaeae;
}

.blog-archive-link {
	margin: 0px;
	font-size: 12px;
}

#blog-archives {
	margin-bottom: 10px;
}

.blog-archive-link-enabled {
}

.blog-archive-link-disabled {
}

.blog-archive-link a:hover {
}

.blog-archive-link a:link, .blog-archive-link a:visited {
}

#blog-categories {
	margin-top: 12px;
	margin-bottom: 10px;
}

.blog-category-link-enabled {
}

.blog-category-link-disabled {
}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
	margin-top: 10px;
	margin-bottom: 10px;
}

a.blog-rss-link {
	background: url(../images/rss_icon.gif) no-repeat left center;
	padding-left: 16px;
	display: block;
	float: left;
}

a.blog-comments-rss-link {
	background: url(../images/rss_icon.gif) no-repeat left center;
	padding-left: 16px;
	display: block;
	float: left;
}

/* @end */


/* @group FILE SHARING */

.filesharing-description {
	margin-bottom: 15px;
}

.filesharing-item {
	margin-bottom: 10px;
}

.filesharing-item a{
	color: #000000;
	text-decoration: none;
}

.filesharing-item a:hover {
	color: #000000;
	text-decoration: none;
}

.filesharing-item-title {
	font-size: 13px;
	margin-bottom: 5px;
	font-weight: normal;
}

.filesharing-item-description {
}

/* @end */

/* @group PHOTO ALBUM */

/* @group Index Page (Thumbnail view) */


.album-title {
	font-size: 18px;
	line-height: 1.3em;
	color: #000000;
	text-align: left;
	font-weight:  bold;
	margin-top: 12px;
	margin-bottom: 8px;
}

.album-description {
	margin-bottom: 15px;
}

.album-wrap {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 30px;
	margin-right: 6px;
	padding-right: 8px;
}

html>body .thumbnail-wrap {
	margin-bottom: 60px;
	margin-right: 12px;
	padding-right: 8px;	
}

.thumbnail-frame {
	border-style: none;
}

.thumbnail-frame a:hover {
	border-style: none;
}

.thumbnail-frame a {
	border-style: none;
}

.thumbnail-frame img {
	border: hidden;
}

.thumbnail-caption {
	margin-top: 3px;
	font-size: 12px;
	color: #000000
}

/* @end */

/* @group Single Page (Photo view) */

.photo-background {
	margin: 0px;
	padding: 20px;
	text-align: center;
	background: transparent;
}

.photo-navigation {
	padding:  12px;
	margin-bottom: 22px;
	background-color: transparent;
	text-align: center;
	border-bottom: 0;
}

.photo-navigation a:link, .photo-navigation a:visited {
	font-size: 12px;
	color: #000000;
}

.photo-navigation a:hover {
	font-size: 12px;
	color: #000000;
}

.photo-frame{
	margin-bottom: 22px;
	padding: 6px;
	border: 1px solid #aeaeae
}

.photo-links {
	font-size: 12px;
	color: #000000;
}

.photo-title {
	margin: 8px 0px 4px 0px;
	font-size: 16px;
	line-height: 1.3em;
	color: #000000;
	text-align: center;
	font-weight:  bold;
	line-height: 20px;
	padding-top: 10px;
}

.photo-caption {
	font-size: 12px;
	line-height: 15px;
	margin: 0px;
	color: #000000;
}

/* @end */

/* @end */


/* @group QUICKTIME ALBUM */


/* @group Index Page (Movie Thumbnail view) */


.movie-page-title {
	font-size: 18px;
	line-height: 1.3em;
	color: #000000;
	text-align: left;
	font-weight:  bold;
	margin-bottom: 8px;
}

.movie-page-description {
	margin-bottom: 15px;

}

.movie-thumbnail-frame {
	float: left;
	display: inline;
	border: 1px solid #aeaeae;
	padding: 1px;
	text-align: center;
	margin: 0px 10px 10px 0px;
}

.movie-thumbnail-frame:hover {
	border: 1px solid #000000;
}

.movie-thumbnail-caption {
	margin-top: 3px;
	margin-bottom:  3px;
	font-size: 12px;
	color: #000000
}

	
/* @end */

/* @group Single Page (Movie View) */

.movie-background {
	margin: 15px 0px 15px 0px;
	text-align: center;
	background: transparent;
}

.movie-title {
	font-size: 18px;
	line-height: 1.3em;
	color: #000000;
	text-align: left;
	font-weight: bold;
	margin: 20px 20px 5px 20px;
}

.movie-description {
	margin-top: 3px;
	margin-bottom: 15px;
	text-align: center;
}

.movie-frame {
	text-align: center;
	padding: 2px;
	background: #000000;
}
	
/* @end */


/* @group Quicktime Page */

.movie-background {
	margin: 15px 0px 15px 0px;
	text-align: center;
	background: transparent;
}

.movie-title {
	font-size: 18px;
	line-height: 1.3em;
	color: #000000;
	text-align: left;
	font-weight: bold;
	margin: 20px 20px 5px 20px;
}

.movie-description {
	margin-top: 3px;
	margin-bottom: 15px;
	text-align: center;
}

.movie-frame {
	text-align: center;
	padding: 2px;
	background: #000000;
}
	
/* @end */

/* @end */


/* @group CONTACT FORM */


.message-text {
}

.required-text {
	color: #000000;
} 

.form-input-field {
}

.form-input-button {
}

/* @end */