/*
-------------------------------------------
File: 'Blueball Classic Colors 36' customimg03.css Style Sheet
Created: 28, April, 2006
Last Modified: 6, July, 2007
Author: Charlie Lockhart, Blueball Design
www.blueballdesign.com
Email: themes@blueballdesign.com
Copyright 2006 Charlie Lockhart/Blueball Design USA
All Rights Reserved
-------------------------------------------
*/

#pageHeader {
	background-image: url(../../../fds-smv/rw_common/themes/blueballclassiccolors36/images/customimg03.jpg);
	background-position: top;
	background-repeat: no-repeat;
}