---
name: Beta test report
about: Report on experience with beta features
title: ''
labels: ''
assignees: ''

---

**Which new feature are you testing?**
Short description of the new feature, for example, "complex geometry" or "3D heat transfer".

**Name and institution**
How shall we cite your contribution?

**Describe your experience**

What worked well?

What could be improved?

