/*
-------------------------------------------
File: 'Blueball Classic Colors 36' sidebar_right.css Style Sheet
Created: 16, December, 2005
Last Modified: 1, July, 2007
Author: Charlie Lockhart, Blueball Design
www.blueballdesign.com
Email: themes@blueballdesign.com
Copyright 2006 Charlie Lockhart/Blueball Design USA
All Rights Reserved
-------------------------------------------
*/


#sidebarContainer {
	float: right;
	padding: 0px 4px 10px 0px;
}

html>body #sidebarcontainer {
	padding: 0px 8px 10px 0px;
}


#contentContainer {
	margin-right: 220px;
	margin-left: 0px;
}




