/*
-------------------------------------------
File: 'Blueball Classic Colors 36' sidebar_left.css Style Sheet
Created: 15, December, 2005
Last Modified: 1, July, 2007
Author: Charlie Lockhart, Blueball Design
www.blueballdesign.com
Email: themes@blueballdesign.com
Copyright 2006 Charlie Lockhart/Blueball Design USA
All Rights Reserved
-------------------------------------------
*/


#sidebarContainer {
	float: left;
	padding: 0px 0px 10px 4px;
}

html>body #sidebarcontainer {
	padding: 0px 0px 10px 8px;
	background-color: #F0EBD0;
}


#contentContainer {
	margin-left: 220px;
	margin-right: 0px;
}
